<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsyuan.tliaswebstduy.mapper.ClazzMapper">
    <insert id="insert">
        insert into clazz (name, room, begin_date, end_date, master_id, create_time, update_time,subject)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{createTime}, #{updateTime},#{subject})
    </insert>
    <update id="updateById">
        update clazz set name=#{name}, room=#{room}, begin_date=#{beginDate}, end_date=#{endDate}, master_id=#{masterId}, update_time=#{updateTime},subject=#{subject} where id=#{id}
    </update>
    <delete id="deleteById">
        delete from clazz where id = #{id}
    </delete>
    <select id="selectAll" resultType="com.hsyuan.tliaswebstduy.pojo.Clazz">
        select c.*, e.name masterName from clazz c
        left join emp e on c.master_id = e.id
        <where>
            <if test="name != null">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>order by c.create_time desc
    </select>

    <select id="findById" resultType="com.hsyuan.tliaswebstduy.pojo.Clazz">
        select * from clazz where id=#{id}
    </select>
</mapper>